@config './tailwind.config.cjs';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--building-color1: #aa80ff;
		--building-color2: #66cc99;
		--building-color3: #cc6699;
		--building-color4: #538cc6;
		--window-color1: #bb99ff;
		--window-color2: #8cd9b3;
		--window-color3: #d98cb3;
		--window-color4: #8cb3d9;
		--gradient-sky: radial-gradient(
			closest-corner circle at 15% 15%,
			#ffcf33,
			#ffcf33 20%,
			#ffff66 21%,
			#bbeeff 100%
		);
	}
	[data-theme="day"] {
		--building-color1: #aa80ff;
		--building-color2: #66cc99;
		--building-color3: #cc6699;
		--building-color4: #538cc6;
		--window-color1: #bb99ff;
		--window-color2: #8cd9b3;
		--window-color3: #d98cb3;
		--window-color4: #8cb3d9;
		--gradient-sky: radial-gradient(
			closest-corner circle at 15% 15%,
			#ffcf33,
			#ffcf33 20%,
			#ffff66 21%,
			#bbeeff 100%
		);
	}
	[data-theme="neon"] {
		--building-color1: #000;
		--building-color2: #000;
		--building-color3: #000;
		--building-color4: #000;
		--window-color1: #bb99ff;
		--window-color2: #8cd9b3;
		--window-color3: #d98cb3;
		--window-color4: #8cb3d9;
		--gradient-sky: radial-gradient(
			closest-corner circle at 15% 15%,
			#ccc,
			#ccc 20%,
			#445 21%,
			#223 100%
		);
	}
	[data-theme="night"] {
		--building-color1: #000;
		--building-color2: #000;
		--building-color3: #000;
		--building-color4: #000;
		--window-color1: #777;
		--window-color2: #777;
		--window-color3: #777;
		--window-color4: #777;
		--gradient-sky: radial-gradient(
			closest-corner circle at 15% 15%,
			#ccc,
			#ccc 20%,
			#445 21%,
			#223 100%
		);
	}
}
