---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Card from "../components/Card.tw.astro";
---

<DefaultLayout title="Welcome to Astro.">
	<main class="m-auto max-w-[60ch] p-6">
		<h1 class="m-0 text-5xl font-extrabold leading-normal">
			Welcome to <span
				class="bg-accent-gradient bg-4x bg-clip-text bg-[0%] text-transparent"
				>Astro</span
			>
		</h1>
		<p
			class="mx-0 my-4 rounded-md border border-accent bg-white p-4 leading-relaxed"
		>
			To get started, open the directory <code
				class="rounded bg-accent px-2 py-1 text-sm font-bold text-accent"
				>src/pages</code
			> in your project.<br />
			<strong class="text-accent">Code Challenge:</strong> Tweak the "Welcome to
			Astro" message above.
		</p>
		<ul role="list" class="grid grid-cols-fit gap-4 p-0">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</DefaultLayout>
