<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Playground</title>
	</head>
	<body>
		<h1>Houston, we have liftoff!</h1>
	</body>
</html>

<style>
	h1 {
		color: cornflowerblue;
	}
</style>
